*.pyc
.DS_Store
*.log
/.ipynb_checkpoints
/__pycache__
/.readings
/code/algo/data
/code/algo/.idea
/code/algo/*.docx
/code/algo/*.xlsx
/code/algo/.ipynb_checkpoints
/code/algo/__pycache__
hzhaoc-f(x)/.obsidian/workspace
.obsidian/workspace
*.json
hzhaoc-f(x)/.obsidian/workspace
hzhaoc-f(x)/.obsidian/workspace
hzhaoc-f(x)/.obsidian/workspace
hzhaoc-f(x)/.obsidian/workspace
*.json
